# dependencies
/node_modules
node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
/.eslintcache
/eslintcache
.eslintcache~develop
.eslintcache~develop_0
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.prettierrc
.DS_Store
